body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  font-family: Arial;
  cursor: pointer;
  overflow: hidden;
  background-color: blue;
  background-image: linear-gradient(to bottom right, blue, aqua);
  color: #fff;
  text-shadow: 0 0 5px #000;
}
h1 {
  margin: 1rem;
  max-width: 600px;
}
.hint {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
a {
  color: #fff;
}